:root {
  --primary: #323239;
  --secondary: #ffb969;
}

body {
  overflow-y: hidden;
  animation: body-show-scroll 1ms forwards;
  animation-delay: 3500ms;
}

@keyframes body-show-scroll {
  0% {
    overflow-y: hidden;
  }
  50% {
    overflow-y: scroll;
  }
  100% {
    overflow-y: scroll;
  }
}

*::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
*::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
*::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 0.5rem;
}
*::-webkit-scrollbar-track {
  background: var(--primary);
}
*::-webkit-scrollbar-corner {
  background: transparent;
}
